<!doctype html>
<html>
  <head>
    <title>FLASK CSV File Upload</title>
  </head>
  <body>
    <h1>Enter your user info:</h1>
    <form method="POST" action="/upload_project">
      <p><input type="text" value='First Name' name="first_name"></p>
      <p><input type='text' value='Last Name' name='last_name'></p>
      <p><input type='text' value='Email' name='email'></p>
      <p><input type='text' value='Firm name' name='firm_name'></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>