<!doctype html>
<html>
  <head>
    <title>Invoice-Insights</title>
  </head>
  <body>
    <h1>Firm: Project Name</h1>
     <p>Longitudinal, Data Science Analysis of Customer Transactions </p> 

    </p> Cohort Analysis </p>
    </p> <img src="{{ image }}"/> </p>
    <p>Longitudinal Histogram </p>
    <p>Seasonality </p>
    </p> Churn </p>
    </p>Predictions </p>
    <p>
    <form method="POST" action= Export_pdf > 
    <p><input type="submit" value="Save PDF"></p>
    </form>
    </p>
  </body>
</html>